.fondo{

    background-color: rgb(155, 71, 71);

}



.fondo_oscuro{

    background-color: rgb(8, 2, 2);

}


.titulo{

    text-align: center;
    color:aliceblue;
    font-family: 'Lucida Sans Regular';
    margin:auto;
    font-size:43px;
    padding: 60px;
    width:60%;height:30%;

}



.titulo_oscuro{

    text-align: center;
    color:rgb(255, 255, 255);
    font-family: 'Lucida Sans Regular';
    margin:auto;
    font-size:43px;
    padding: 60px;
    width:60%;height:30%;

}






.titulo_parrafo{

    text-align: center;
    color:aliceblue;
    background-color: rgb(102, 37, 42);
    font-family: 'Lucida Sans Regular';
    font-size:x-large;
    padding: 36px;


}


.misionvision_oscuro{

    text-align: center;
    color:aliceblue;
    background-color: rgb(20, 6, 8);
    font-family: 'Lucida Sans Regular';
    font-size:x-large;
    padding: 36px;


}


.parrafos{

    text-align: center;
    color:aliceblue;
    padding: 12px;
    font-family: 'Lucida Sans Regular';
    font-size:large

}


.parrafos2{

    text-align: center;
    color:aliceblue;
    padding: 16px;
    font-family: 'Lucida Sans Regular';
    font-size: 300%;

}




.parrafos_idols{

    text-align: center;
    color:aliceblue;
    padding: 36px;
    font-family: 'Lucida Sans Regular';
    font-size:large;
    background-color: rgba(34, 48, 110, 0.479);

}




.parrafo_formulario{

    text-align: center;
    color:aliceblue;

    font-family: 'Lucida Sans Regular';
    font-size:medium;
    padding: 36px;


}