.fondo{

    background-color: rgb(245, 124, 140);
    display: flex;
    flex-direction: column;
    align-items: center;

}

.fondo_oscuro{

    background-color: rgb(4, 2, 2);


}



body {
    transition: background-color 0.3s;
}

.titulo {
    text-align: center;
    margin: auto;
    padding: 30px;
    max-width: 100%;
    height: auto;
    animation: move 3.6s infinite ease-in-out alternate;
}



.titulo img {
    max-width: 30%;
    height: auto;
}


.imagen_modo_oscuro{


    max-width: 100%;
    height:19px
    
}


.parrafos{

    text-align: center;
    color:aliceblue;
    padding: 12px;
    font-family: 'Trebuchet Ms';
    font-size:large;
    max-width: 73%;
    margin: 0 auto;
    

}

.parrafos_grande{

    text-align: center;
    color:aliceblue;
    padding: 12px;
    font-family: 'Trebuchet Ms';
    font: size xx-large;
    max-width: 73%;
    margin: 0 auto;

}



p.noDisplay{
    display: none;
}








.parrafos_medio{

    text-align: center;
    color:aliceblue;
    padding: 12px;
    font-family: 'Lucida Sans Regular';
    font-size:medium;
    

}






@keyframes move{


    from{
        transform: translateY(0px)
    }

    to{
        transform: translateY(-19px)
    }


}
        

.mitad_pagina {
    width: 100%;
    background-color: rgb(200, 102, 115);; 
    display: flex;
    justify-content: center; 
    align-items: center; 
}




.formulario, .tablas {
    width: 43%; 
    margin: 20px 0;
    background-color: rgba(200, 102, 115, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.formulario h1 h3 {
    text-align: center;
    margin-bottom: 20px;
}

.formulario input, .formulario button {
    width: 30%; 
    padding: 10px;
    margin: 10px 5%;
    box-sizing: border-box;
}

.tablas table {
    width: 100%;
    border-collapse: collapse;
}

.tablas th, .tablas td {
    padding: 12px;
    border: 1px solid #a77c7c;
    text-align: left;
}

.tablas th {
    background-color: rgb(197, 107, 119);
}