.fondo{

    background-color: rgb(245, 124, 140);

}



.titulo {
    text-align: center;
    margin: auto;
    padding: 30px;
    max-width: 100%;
    height: auto;
    animation: move 3.6s infinite ease-in-out alternate;
}



.titulo img {
    max-width: 30%;
    height: auto;
}





.parrafos{

    text-align: center;
    color:aliceblue;
    padding: 12px;
    font-family: 'Lucida Sans Regular';
    font-size:large

}



@keyframes move{


    from{
        transform: translateY(0px)
    }

    to{
        transform: translateY(-19px)
    }


}
        

.mitad_pagina {
    width: 100%;
    background-color: rgb(200, 102, 115);; 
    display: flex;
    justify-content: center; 
    align-items: center; 
}
